**AIVLE School 미니프로젝트**
### **공공데이터를 활용한 <span style="color:darkgreen">미세먼지 농도</span> 예측**
---

#### **<span style="color:red">[미션 안내]</span>**
* 개인 미션: 미세먼지 농도를 예측하는 머신러닝 모델을 만드세요. <br> ([1-1]부터 [1-2]까지, [2-1]부터 [2-8]까지, [3-1]부터 [3-2]까지 필수 수행, [4-1]부터 선택 수행)
* 조별 미션: 개인 미션 수행한 내용에 대해 토론하여 발표 준비를 해주세요.

#### **<span style="color:red">[데이터 설명]</span>**

* 학습 데이터
    * air_2021.csv : 2021년 미세먼지 데이터
    * weather_2021.csv : 2021년 날씨 데이터
* 테스트 데이터
    * air_2022.csv : 2022년 미세먼지 데이터
    * weather_2022.csv : 2022년 날씨 데이터

# [Step 1] 탐색적 데이터 분석

In [1]:
# 필요한 라이브러리 설치 및 임포트
!pip install pandas

import pandas as pd
import datetime

Requirement already satisfied: pandas in c:\users\jwch1\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jwch1\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jwch1\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\jwch1\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\jwch1\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

---

#### **<span style="color:blue">[1-1] air_21, air_22, weather_21, weather_22 데이터 로딩</span>**

In [2]:
# 데이터 로딩

air_21 = pd.read_csv("air_2021.csv", sep=',', index_col = 0, encoding = 'utf-8' )
air_22 = pd.read_csv("air_2022.csv", sep=',', index_col = 0, encoding = 'utf-8' )
weather_21 = pd.read_csv("weather_2021.csv", sep = ',', encoding='cp949')
weather_22 = pd.read_csv("weather_2022.csv", sep = ',', encoding='cp949')

#### **<span style="color:blue">[1-2] 필요한 데이터 분석 진행 </span>**

In [3]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
# head, tail, info, plot을 활용한 시각화 등 진행
air_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19

In [4]:
air_22.tail()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
2155,서울 종로구,도시대기,111123,종로구,2022033120,0.002,0.4,0.036,0.017,11.0,8.0,서울 종로구 종로35가길 19
2156,서울 종로구,도시대기,111123,종로구,2022033121,0.002,0.4,0.032,0.018,10.0,7.0,서울 종로구 종로35가길 19
2157,서울 종로구,도시대기,111123,종로구,2022033122,0.003,0.3,0.038,0.013,11.0,5.0,서울 종로구 종로35가길 19
2158,서울 종로구,도시대기,111123,종로구,2022033123,0.003,0.3,0.036,0.015,11.0,5.0,서울 종로구 종로35가길 19
2159,서울 종로구,도시대기,111123,종로구,2022033124,0.002,0.4,0.033,0.017,9.0,5.0,서울 종로구 종로35가길 19

In [5]:
weather_21.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,...,NaN,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6
1,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,...,NaN,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6
2,108,서울,2021-01-01 03:00,-9.3,NaN,NaN,NaN,1.1,NaN,250.0,...,NaN,2000,NaN,NaN,-7.3,NaN,-1.2,-0.9,0.3,1.6
3,108,서울,2021-01-01 04:00,-9.3,NaN,NaN,NaN,0.3,NaN,0.0,...,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.0,0.2,1.5
4,108,서울,2021-01-01 05:00,-9.7,NaN,NaN,NaN,1.9,NaN,20.0,...,NaN,2000,NaN,NaN,-7.6,NaN,-1.3,-1.0,0.2,1.5

In [6]:
weather_22.tail()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
2155,108,서울,2022-03-31 19:00,12.3,NaN,NaN,NaN,2.9,NaN,340,...,9.0,2000,NaN,NaN,10.0,NaN,12.6,11.8,11.0,10.2
2156,108,서울,2022-03-31 20:00,11.6,NaN,NaN,NaN,2.7,NaN,340,...,NaN,2000,NaN,NaN,8.9,NaN,12.2,11.6,11.0,10.3
2157,108,서울,2022-03-31 21:00,10.5,NaN,NaN,NaN,3.5,NaN,320,...,10.0,2000,NaN,NaN,7.8,NaN,11.8,11.4,11.0,10.4
2158,108,서울,2022-03-31 22:00,9.3,NaN,NaN,NaN,1.9,NaN,50,...,10.0,2000,NaN,NaN,7.3,NaN,11.4,11.1,10.9,10.5
2159,108,서울,2022-03-31 23:00,8.4,NaN,NaN,NaN,1.2,NaN,360,...,10.0,2000,NaN,NaN,6.7,NaN,11.0,10.8,10.8,10.5

# [Step 2] 데이터 전처리

#### **<span style="color:blue">[2-1] air_21, air_22 의 '측정일시'를 활용하여 'time' 변수 생성</span>**

* air_21, air_22  각각 '측정일시'를 활용하여 'time'변수 생성
    * 참고: 미세먼지 데이터는 1시-24시, 날씨 데이터는 0시-23시로 구성되어 있습니다. [2-3]에서 미세먼지와 날씨 데이터를 time 기준으로 합치려면 기준이 동일해야 합니다. 미세먼지 데이터에서 time 변수 생성 시 이를 미리 고려(예: air_21['측정일시'] -1)하세요.
* time 변수를 pd.to_datetime으로 데이터 타입 변경
    * 참고: format = '%Y%m%d%H'

In [7]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
air_21['측정일시'].dtype

dtype('int64')

In [8]:
air_21['측정일시'].head(25)

0     2021100101
1     2021100102
2     2021100103
3     2021100104
4     2021100105
5     2021100106
6     2021100107
7     2021100108
8     2021100109
9     2021100110
10    2021100111
11    2021100112
12    2021100113
13    2021100114
14    2021100115
15    2021100116
16    2021100117
17    2021100118
18    2021100119
19    2021100120
20    2021100121
21    2021100122
22    2021100123
23    2021100124
24    2021100201
Name: 측정일시, dtype: int64

In [9]:
from datetime import datetime, timedelta
def zerofrom24(datetime, _format):
    datetime = str(datetime)
    try:
        return pd.to_datetime(datetime, format = _format)
    except:
        datetime = datetime[:-2] + '00'
        return pd.to_datetime(datetime, format = _format)+ timedelta(days=1)

In [10]:
air_21['측정일시'] = air_21['측정일시'].apply(lambda time: zerofrom24(time, '%Y%m%d%H'))
air_21['측정일시'].head(25)

0    2021-10-01 01:00:00
1    2021-10-01 02:00:00
2    2021-10-01 03:00:00
3    2021-10-01 04:00:00
4    2021-10-01 05:00:00
5    2021-10-01 06:00:00
6    2021-10-01 07:00:00
7    2021-10-01 08:00:00
8    2021-10-01 09:00:00
9    2021-10-01 10:00:00
10   2021-10-01 11:00:00
11   2021-10-01 12:00:00
12   2021-10-01 13:00:00
13   2021-10-01 14:00:00
14   2021-10-01 15:00:00
15   2021-10-01 16:00:00
16   2021-10-01 17:00:00
17   2021-10-01 18:00:00
18   2021-10-01 19:00:00
19   2021-10-01 20:00:00
20   2021-10-01 21:00:00
21   2021-10-01 22:00:00
22   2021-10-01 23:00:00
23   2021-10-02 00:00:00
24   2021-10-02 01:00:00
Name: 측정일시, dtype: datetime64[ns]

In [11]:
air_22['측정일시'] = air_22['측정일시'].apply(lambda time: zerofrom24(time, '%Y%m%d%H'))

---

#### **<span style="color:blue">[2-2] weather_21, weather_22 의 '일시'를 활용하여 'time' 변수 생성</span>**

* weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성
* time 변수를 pd.to_datetime으로 데이터 타입 변경

In [12]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
print(weather_21['일시'].dtype)
weather_21[['일시']].head()

object

                 일시
0  2021-01-01 01:00
1  2021-01-01 02:00
2  2021-01-01 03:00
3  2021-01-01 04:00
4  2021-01-01 05:00

In [13]:
weather_21['일시'] = pd.to_datetime(weather_21['일시'])
weather_22['일시'] = pd.to_datetime(weather_22['일시'])
weather_22[['일시']].head()

                   일시
0 2022-01-01 00:00:00
1 2022-01-01 01:00:00
2 2022-01-01 02:00:00
3 2022-01-01 03:00:00
4 2022-01-01 04:00:00

---

#### **<span style="color:blue">[2-3] 'time' 기준으로 데이터 합치기</span>**

* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보세요.
    * df_21에는 'time' 기준으로 21년도 미세먼지, 날씨 데이터를 합쳐보세요.
    * df_22에는 'time' 기준으로 22년도 미세먼지, 날씨 데이터를 합쳐보세요.

In [14]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
df_21 = pd.merge(air_21, weather_21, how='outer', left_on='측정일시', right_on='일시')

In [15]:
df_22 = pd.merge(air_22, weather_22, how='outer', left_on='측정일시', right_on='일시')
df_22.head().T

,0,1,2,3,4
지역,서울 종로구,서울 종로구,서울 종로구,서울 종로구,서울 종로구
망,도시대기,도시대기,도시대기,도시대기,도시대기
측정소코드,111123.0,111123.0,111123.0,111123.0,111123.0
측정소명,종로구,종로구,종로구,종로구,종로구
측정일시,2022-01-01 01:00:00,2022-01-01 02:00:00,2022-01-01 03:00:00,2022-01-01 04:00:00,2022-01-01 05:00:00
SO2,0.003,0.003,0.003,0.003,0.003
CO,0.4,0.4,0.5,0.5,0.5
O3,0.026,0.022,0.014,0.016,0.005
NO2,0.016,0.02,0.028,0.027,0.04
PM10,23.0,20.0,20.0,19.0,24.0
PM25,12.0,9.0,9.0,10.0,11.0
주소,서울 종로구 종로35가길 19,서울 종로구 종로35가길 19,서울 종로구 종로35가길 19,서울 종로구 종로35가길 19,서울 종로구 종로35가길 19
지점,108.0,108.0,108.0,108.0,108.0
지점명,서울,서울,서울,서울,서울
일시,2022-01-01 01:00:00,2022-01-01 02:00:00,2022-01-01 03:00:00,2022-01-01 04:00:00,2022-01-01 05:00:00
기온(°C),-9.2,-9.5,-9.3,-9.6,-9.7
기온 QC플래그,NaN,NaN,NaN,NaN,NaN
강수량(mm),NaN,NaN,NaN,NaN,NaN
강수량 QC플래그,NaN,NaN,NaN,NaN,NaN
풍속(m/s),1.8,1.2,1.4,1.7,0.8
풍속 QC플래그,NaN,NaN,NaN,NaN,NaN
풍향(16방위),270.0,270.0,290.0,340.0,270.0
풍향 QC플래그,NaN,NaN,NaN,NaN,NaN
습도(%),42.0,43.0,46.0,48.0,51.0
습도 QC플래그,NaN,NaN,NaN,NaN,NaN
증기압(hPa),1.3,1.3,1.4,1.4,1.5
이슬점온도(°C),-19.7,-19.7,-18.8,-18.5,-17.9
현지기압(hPa),1022.2,1022.3,1022.6,1021.9,1022.0
현지기압 QC플래그,NaN,NaN,NaN,NaN,NaN
해면기압(hPa),1033.6,1033.7,1034.0,1033.3,1033.4
해면기압 QC플래그,NaN,NaN,NaN,NaN,NaN
일조(hr),NaN,NaN,NaN,NaN,NaN
일조 QC플래그,9.0,9.0,9.0,9.0,9.0
일사(MJ/m2),NaN,NaN,NaN,NaN,NaN
일사 QC플래그,9.0,9.0,9.0,9.0,9.0
적설(cm),NaN,NaN,NaN,NaN,NaN
3시간신적설(cm),NaN,NaN,NaN,NaN,NaN
전운량(10분위),0.0,0.0,0.0,0.0,0.0
중하층운량(10분위),0.0,0.0,0.0,0.0,0.0
운형(운형약어),NaN,NaN,NaN,NaN,NaN
최저운고(100m ),NaN,NaN,NaN,NaN,NaN
시정(10m),2000.0,2000.0,2000.0,2000.0,2000.0
지면상태(지면상태코드),NaN,NaN,NaN,NaN,NaN
현상번호(국내식),NaN,NaN,NaN,NaN,NaN
지면온도(°C),-7.2,-7.5,-7.6,-7.6,-7.7
지면온도 QC플래그,NaN,NaN,NaN,NaN,NaN
5cm 지중온도(°C),-1.1,-1.3,-1.4,-1.4,-1.5
10cm 지중온도(°C),-1.1,-1.2,-1.2,-1.3,-1.4
20cm 지중온도(°C),-0.2,-0.2,-0.2,-0.3,-0.3
30cm 지중온도(°C),1.0,1.0,1.0,1.0,1.0

---

#### **<span style="color:blue">[2-4] 사용하지 않을 변수 제거</span>**

* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.
    * df_21, df_22에 사용할 변수들만 넣어보세요.
* time 변수를 index로 세팅하고 (set_index) 데이터가 정렬되어 있지 않으므로 index 기준으로 정렬하세요. (sort_index)

In [16]:
# df_21, df_22에 사용할 변수들만 할당
drop_columns = ['지역','망','측정소코드','측정소명','측정일시','주소','지점','지점명','운형(운형약어)','지면상태(지면상태코드)','현상번호(국내식)',
                '5cm 지중온도(°C)','10cm 지중온도(°C)','20cm 지중온도(°C)','30cm 지중온도(°C)','이슬점온도(°C)',
                '적설(cm)','3시간신적설(cm)','전운량(10분위)','중하층운량(10분위)','최저운고(100m )']
drop_columns += ['기온 QC플래그','강수량 QC플래그','풍속 QC플래그','풍향 QC플래그','습도 QC플래그','현지기압 QC플래그','해면기압 QC플래그','일조 QC플래그','일사 QC플래그','지면온도 QC플래그']
drop_columns += ['일조(hr)','일사(MJ/m2)']
df_21.drop(columns=drop_columns, inplace=True)
df_21.head()

,SO2,CO,O3,NO2,PM10,PM25,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),현지기압(hPa),해면기압(hPa),시정(10m),지면온도(°C)
0,0.003,0.6,0.002,0.039,31.0,18.0,2021-10-01 01:00:00,18.7,NaN,1.0,20.0,85.0,18.3,998.8,1008.7,2000.0,17.4
1,0.003,0.6,0.002,0.035,27.0,16.0,2021-10-01 02:00:00,18.3,NaN,0.3,0.0,89.0,18.6,998.9,1008.8,2000.0,17.2
2,0.003,0.6,0.002,0.033,28.0,18.0,2021-10-01 03:00:00,17.7,NaN,2.0,20.0,92.0,18.5,998.1,1008.1,2000.0,17.0
3,0.003,0.6,0.002,0.030,26.0,16.0,2021-10-01 04:00:00,17.4,NaN,1.0,50.0,91.0,18.1,997.9,1007.9,2000.0,16.5
4,0.003,0.5,0.003,0.026,26.0,16.0,2021-10-01 05:00:00,17.2,NaN,1.3,270.0,94.0,18.4,998.4,1008.4,1995.0,16.6

In [17]:
df_22.drop(columns=drop_columns, inplace=True)
df_22.head().T

,0,1,2,3,4
SO2,0.003,0.003,0.003,0.003,0.003
CO,0.4,0.4,0.5,0.5,0.5
O3,0.026,0.022,0.014,0.016,0.005
NO2,0.016,0.02,0.028,0.027,0.04
PM10,23.0,20.0,20.0,19.0,24.0
PM25,12.0,9.0,9.0,10.0,11.0
일시,2022-01-01 01:00:00,2022-01-01 02:00:00,2022-01-01 03:00:00,2022-01-01 04:00:00,2022-01-01 05:00:00
기온(°C),-9.2,-9.5,-9.3,-9.6,-9.7
강수량(mm),NaN,NaN,NaN,NaN,NaN
풍속(m/s),1.8,1.2,1.4,1.7,0.8
풍향(16방위),270.0,270.0,290.0,340.0,270.0
습도(%),42.0,43.0,46.0,48.0,51.0
증기압(hPa),1.3,1.3,1.4,1.4,1.5
현지기압(hPa),1022.2,1022.3,1022.6,1021.9,1022.0
해면기압(hPa),1033.6,1033.7,1034.0,1033.3,1033.4
시정(10m),2000.0,2000.0,2000.0,2000.0,2000.0
지면온도(°C),-7.2,-7.5,-7.6,-7.6,-7.7

In [18]:
# time 변수를 index로 세팅
df_21.set_index(keys='일시').sort_index()

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),현지기압(hPa),해면기압(hPa),시정(10m),지면온도(°C)
일시,,,,,,,,,,,,,,,,
2021-01-01 01:00:00,0.002,0.5,0.022,0.016,24.0,14.0,-8.7,NaN,2.4,270.0,68.0,2.2,1016.4,1027.7,2000.0,-6.9
2021-01-01 02:00:00,0.002,0.6,0.018,0.020,25.0,14.0,-9.1,NaN,1.6,270.0,69.0,2.1,1016.2,1027.5,2000.0,-7.1
2021-01-01 03:00:00,0.002,0.6,0.013,0.025,27.0,16.0,-9.3,NaN,1.1,250.0,70.0,2.1,1016.8,1028.1,2000.0,-7.3
2021-01-01 04:00:00,0.003,0.6,0.011,0.027,23.0,13.0,-9.3,NaN,0.3,0.0,71.0,2.2,1016.2,1027.5,2000.0,-7.5
2021-01-01 05:00:00,0.003,0.6,0.008,0.032,24.0,14.0,-9.7,NaN,1.9,20.0,72.0,2.1,1015.6,1026.9,2000.0,-7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 20:00:00,0.003,0.4,0.025,0.020,26.0,8.0,-6.3,NaN,4.1,320.0,35.0,1.3,1021.2,1032.4,2000.0,-5.3
2021-12-31 21:00:00,0.003,0.4,0.030,0.014,27.0,9.0,-6.7,NaN,4.8,320.0,36.0,1.3,1021.2,1032.4,2000.0,-5.7
2021-12-31 22:00:00,0.003,0.4,0.033,0.011,20.0,8.0,-7.5,NaN,3.0,320.0,37.0,1.3,1021.8,1033.1,2000.0,-6.2
2021-12-31 23:00:00,0.003,0.4,0.029,0.015,20.0,9.0,-7.7,NaN,2.9,320.0,38.0,1.3,1021.9,1033.2,2000.0,-6.5
NaT,0.003,0.4,0.026,0.016,20.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---

#### **<span style="color:blue">[2-5] 변수들의 결측치 처리</span>**

In [19]:
# df_21, df_22의 결측치 확인
df_21.isnull().sum()

SO2           112
CO             80
O3             97
NO2            80
PM10          105
PM25           97
일시              1
기온(°C)          1
강수량(mm)      7811
풍속(m/s)         3
풍향(16방위)        3
습도(%)           1
증기압(hPa)        1
현지기압(hPa)       1
해면기압(hPa)       1
시정(10m)         1
지면온도(°C)        6
dtype: int64

In [20]:
# df_21, df_22의 변수 중 결측치를 처리 (ex: 강수량(mm))
df_21['강수량(mm)'] = df_21['강수량(mm)'].fillna(0)
df_22['강수량(mm)'] = df_22['강수량(mm)'].fillna(0)

In [21]:
# df_21, df_22의 남은 결측치를 처리
df_21.fillna(df_21.mean(), inplace=True)
df_22.fillna(df_22.mean(), inplace=True)

C:\Users\jwch1\AppData\Local\Temp\ipykernel_24748\617872413.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_21.fillna(df_21.mean(), inplace=True)
C:\Users\jwch1\AppData\Local\Temp\ipykernel_24748\617872413.py:3: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_22.fillna(df_22.mean(), inplace=True)

In [22]:
df_21.dropna(axis=0, inplace=True)
df_22.dropna(axis=0, inplace=True)

In [23]:
# df_21, df_22의 결측치 재확인
df_21.isnull().sum()

SO2          0
CO           0
O3           0
NO2          0
PM10         0
PM25         0
일시           0
기온(°C)       0
강수량(mm)      0
풍속(m/s)      0
풍향(16방위)     0
습도(%)        0
증기압(hPa)     0
현지기압(hPa)    0
해면기압(hPa)    0
시정(10m)      0
지면온도(°C)     0
dtype: int64

---

#### **<span style="color:blue">[2-6] 전일 같은 시간 미세먼지 농도 변수 추가</span>**

* 먼저 df_21, df_22에 month, day, hour 변수를 추가하세요.
    * 예) dt.month, dt.day, dt.hour 사용 또는 datetimeindex에서는 df.index.month 등 사용 가능
* 모델링에 유용한 변수로 전일 같은 시간(24시간 전) 미세먼지 농도 변수를 추가하세요.
    * 시계열 데이터 처리를 위한 shift 연산을 참고하세요.

In [24]:
# df_21, df_22의 index(time)를 month, day, hour 로 쪼개기 (year는 필요 없음). 이후에 저장 시 index(time)은 포함하지 않음.
df_21['month'] = df_21['일시'].dt.month
df_21['day'] = df_21['일시'].dt.day
df_21['hour'] = df_21['일시'].dt.hour
df_21.drop('일시', axis=1, inplace=True)

df_22['month'] = df_22['일시'].dt.month
df_22['day'] = df_22['일시'].dt.day
df_22['hour'] = df_22['일시'].dt.hour
df_22.drop('일시', axis=1, inplace=True)

In [25]:
# df_21, df_22에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
# 전일 같은 시간은 24시간 전 입니다.
df_21['PM10_lag1'] = df_21['PM10'].shift(-24)
df_22['PM10_lag1'] = df_22['PM10'].shift(-24)

---

#### **<span style="color:blue">[2-7] t+1 시점의 미세먼지 농도 데이터 생성</span>**

* t+1 시점은 1시간 후 입니다.
* t+1 시점의 미세먼지 농도 변수(PM10_1)를 생성하세요.
* t+1 시점의 미세먼지 농도는 머신러닝 모델을 통해 예측하려는 y값(target) 입니다.

In [26]:
# df_21, df_22에 t+1 시점 변수(PM10_1) 추가
df_21['PM10_1'] = df_21['PM10'].shift(1)
df_22['PM10_1'] = df_22['PM10'].shift(1)

In [27]:
# 결측치가 있다면 처리
df_21['PM10_lag1'] = df_21['PM10_lag1'].fillna(method='ffill')
df_21['PM10_1'] = df_21['PM10_1'].fillna(method='bfill')

df_22['PM10_lag1'] = df_22['PM10_lag1'].fillna(method='ffill')
df_22['PM10_1'] = df_22['PM10_1'].fillna(method='bfill')

df_22.isna().sum()

SO2          0
CO           0
O3           0
NO2          0
PM10         0
PM25         0
기온(°C)       0
강수량(mm)      0
풍속(m/s)      0
풍향(16방위)     0
습도(%)        0
증기압(hPa)     0
현지기압(hPa)    0
해면기압(hPa)    0
시정(10m)      0
지면온도(°C)     0
month        0
day          0
hour         0
PM10_lag1    0
PM10_1       0
dtype: int64

---

#### **<span style="color:blue">[2-8] train, test 데이터 분리</span>**

* 21년도 데이터(df_21)를 train 데이터로 저장하세요. y 값을 제외하고 train_x로 저장한 후 y 값은 train_y로 저장하세요.
* 22년도 데이터(df_22)를 test 데이터로 저장하세요. y 값을 제외하고 test_x로 저장한 후 y 값은 test_y로 저장하세요.
* 각각의 데이터프레임을 csv 파일로 저장하세요. (train_x.csv / train_y.csv / test_x.csv / test_y.csv) (단, 인덱스 제외)
* y값은 'PM10_1' 즉, t+1 시점의 미세먼지 농도입니다.

In [28]:
df_21.head().T

                  0         1         2         3         4
SO2           0.003     0.003     0.003     0.003     0.003
CO            0.600     0.600     0.600     0.600     0.500
O3            0.002     0.002     0.002     0.002     0.003
NO2           0.039     0.035     0.033     0.030     0.026
PM10         31.000    27.000    28.000    26.000    26.000
PM25         18.000    16.000    18.000    16.000    16.000
기온(°C)       18.700    18.300    17.700    17.400    17.200
강수량(mm)       0.000     0.000     0.000     0.000     0.000
풍속(m/s)       1.000     0.300     2.000     1.000     1.300
풍향(16방위)     20.000     0.000    20.000    50.000   270.000
습도(%)        85.000    89.000    92.000    91.000    94.000
증기압(hPa)     18.300    18.600    18.500    18.100    18.400
현지기압(hPa)   998.800   998.900   998.100   997.900   998.400
해면기압(hPa)  1008.700  1008.800  1008.100  1007.900  1008.400
시정(10m)    2000.000  2000.000  2000.000  2000.000  1995.000
지면온도(°C)     17.400    17.200    17.000    16.500    16.600
month        10.000    10.000    10.000    10.000    10.000
day           1.000     1.000     1.000     1.000     1.000
hour          1.000     2.000     3.000     4.000     5.000
PM10_lag1    10.000     9.000     9.000    10.000    11.000
PM10_1       31.000    31.000    27.000    28.000    26.000

In [29]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
train_x = df_21.drop('PM10_1', axis=1)
train_y = df_21.loc[:,'PM10_1']

test_x = df_22.drop('PM10_1', axis=1)
test_y = df_22.loc[:,'PM10_1']

In [30]:
# 각각의 데이터프레임을 csv 파일로 저장 (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
train_x.to_csv('train_x.csv')
train_y.to_csv('train_y.csv')
test_x.to_csv('test_x.csv')
test_y.to_csv('test_y.csv')